/*
 * Fonts
 */

@import url(https://fonts.googleapis.com/css?family=Raleway:400,700,200);

/*
 * Colours & Variables
 */

/*
 * Basics
 */

html {
	font-size: 18px;
	color: #010b4c;
	background-color: #fafdf7;
}

* {
	box-sizing: border-box;
}

*:before, *:after {
	box-sizing: inherit;
}

body {
	margin: 0;
	padding: 0;
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
}

/*
 * Links
 */

a:not([role="button"]) {
	color: #357a89;
	text-decoration: none;
	-webkit-transition: color 100ms ease;
	        transition: color 100ms ease;

	display: inline-block;
	-webkit-transform: translateZ(0);
	        transform: translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	-webkit-backface-visibility: hidden;
	        backface-visibility: hidden;
	-moz-osx-font-smoothing: grayscale;
	position: relative;
	-webkit-transition-property: color;
	        transition-property: color;
	-webkit-transition-duration: 200ms;
	        transition-duration: 200ms;
}

a:not([role="button"]):hover {
	color: #fafdf7;
}

a:not([role="button"]):active {
	color: #cfdfb5;
}

a:not([role="button"]):before {
	content: '';
	position: absolute;
	z-index: -1;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #498d9b;
	-webkit-transform: scaleX(0);
	    -ms-transform: scaleX(0);
	        transform: scaleX(0);
	-webkit-transform-origin: 0 50%;
	    -ms-transform-origin: 0 50%;
	        transform-origin: 0 50%;
	-webkit-transition-property: -webkit-transform;
	        transition-property: transform;
	-webkit-transition-duration: 200ms;
	        transition-duration: 200ms;
	-webkit-transition-timing-function: ease-out;
	        transition-timing-function: ease-out;
}

a:not([role="button"]):hover:before, a:not([role="button"]):focus:before, a:not([role="button"]):active:before {
	-webkit-transform: scaleX(1);
	    -ms-transform: scaleX(1);
	        transform: scaleX(1);
}

/*
 * Buttons
 */

button, [role="button"] {
	display: inline-block;
	padding: 0.5rem 0.75rem;
	border: none;
	background-color: #357a89;
	color: #fafdf7;
	text-transform: uppercase;
	text-decoration: none;
	border-radius: 0.25rem;
	box-shadow: 0 0.25rem 0 #226776;
	-webkit-transition: all ease 100ms;
	        transition: all ease 100ms;
}

button:hover, [role="button"]:hover {
	color: #dfefc9;
	box-shadow: none;
	margin-top: 0.25rem;
	margin-bottom: -0.25rem;
}

/*
 * Headers
 */

h1, h2, h3, h4 {
	text-transform: uppercase;
	font-weight: 200;
	color: #357a89;
	margin: 0 0 1rem 0;
}

h1 {
	font-size: 3rem;
}

h2 {
	font-size: 2rem;
}

h2 span {
	display: block;
}

h2 span em {
	font-style: normal;
	display: inline-block;
	padding: 0.25rem 0;
	background-color: #1b2564;
	color: #fafdf7;
	font-size: 1rem;
	position: relative;
}

h2 span em:before {
	content: '';
	position: absolute;
	height: 100%;
	width: 2rem;
	top: 0;
	left: -2rem;
	background-image: -webkit-linear-gradient(315deg, transparent 0%, transparent 50%, #1b2564 51%, #1b2564 100%);
	background-image: linear-gradient(135deg, transparent 0%, transparent 50%, #1b2564 51%, #1b2564 100%)
}

h2 span em:after {
	content: '';
	position: absolute;
	height: 100%;
	width: 2rem;
	top: 0;
	right: -2rem;
	background-image: -webkit-linear-gradient(315deg, #1b2564 0%, #1b2564 50%, transparent 51%, transparent 100%);
	background-image: linear-gradient(135deg, #1b2564 0%, #1b2564 50%, transparent 51%, transparent 100%)
}

h2 a {
	padding: 0.25rem 0.5rem;
	margin: 0 -0.5rem;
}

h3 {
	font-size: 1.5rem;
}

h4 {
	font-size: 1.25rem;
}

p {
	margin: 0 0 1rem 0;
}

/*
 * Navigation
 */

nav#top-nav {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 5;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-transition: all 200ms ease;
	        transition: all 200ms ease;
}

nav#top-nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	font-size: 1.25rem;
}

nav#top-nav ul.home {
	margin-right: auto;
}

nav#top-nav ul.home a {
	text-transform: uppercase;
}

nav#top-nav ul li {
	-webkit-box-flex: 1;
	-webkit-flex: 1 1 10rem;
	    -ms-flex: 1 1 10rem;
	        flex: 1 1 10rem;
}

nav#top-nav ul li a {
	display: inline-block;
	padding: 1rem;
	width: 100%;
	color: #fafdf7;
	text-decoration: none;
}

nav#top-nav ul li a:hover {
	color: #dfefc9;
}

nav#top-nav.alt {
	background-color: #fafdf7;
	box-shadow: 0 0 1rem 0 rgba(34, 103, 118, 0.5);
}

nav#top-nav.alt a {
	color: #357a89;
}

nav#top-nav.alt a:hover {
	color: #fafdf7;
}

/* Pagination */
nav.pagination {
	text-align: center;
	width: 100%;
	padding: 2rem;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	    -ms-flex-align: center;
	        align-items: center;
}
nav.pagination > * {
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	    -ms-flex: 1;
	        flex: 1;
}

/*
 * Hero Banner
 */

header.homepage {
	width: 100%;
	height: 100vh;
	background-color: #010b4c;
	background-image: url(../img/bokeh.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	padding: 5rem 2rem 3rem 2rem;
	text-align: center;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	    -ms-flex-direction: column;
	        flex-direction: column;
}

header.homepage img {
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	    -ms-flex: 1;
	        flex: 1;
	width: auto;
	max-height: 50vh;
}

header.homepage p {
	color: #fafdf7;
	max-width: 960px;
	margin: 2rem auto 0 auto;
	font-size: 1.5rem;
	text-shadow: 0 0 3rem #000527;
}

header.homepage p a {
	color: #dfefc9;
}

header.blog {
	width: 100%;
	height: 8rem;
	background-color: #010b4c;
	background-image: url(../img/bokeh.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

/*
 * Main, Sections, and Articles
 */

main[role="main"] section > div {
	max-width: 960px;
	margin: 0 auto;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
	    -ms-flex-wrap: wrap;
	        flex-wrap: wrap;
	padding: 3rem;
}

main[role="main"] section > div article {
	-webkit-box-flex: 1;
	-webkit-flex: 1 1 50%;
	    -ms-flex: 1 1 50%;
	        flex: 1 1 50%;
	padding: 0 3rem;
}

main[role="main"] section > div article img {
	max-width: 100%;
	border: 0.25rem solid #fafdf7;
}

main[role="main"] section > div > p {
	-webkit-box-flex: 1;
	-webkit-flex: 1 1 100%;
	    -ms-flex: 1 1 100%;
	        flex: 1 1 100%;
	text-align: center;
	padding-top: 1rem;
}

main[role="main"] section:nth-of-type(even) {
	background-color: #dfefc9;
}

/*
 * Footer
 */

footer {
	background-color: #357a89;
	color: #dfefc9;
	font-size: 0.8rem;
}

footer > div {
	max-width: 960px;
	margin: 0 auto;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	    -ms-flex-align: center;
	        align-items: center;
}

footer > div > * {
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	    -ms-flex: 1;
	        flex: 1;
	padding: 1rem;
}

footer a:not([role="button"]) {
	color: #fafdf7;
}

footer span {
	display: block;
}

footer address {
	font-style: normal;
	text-align: right;
}

footer figure {
	padding: 3rem;
	text-align: center;
}

footer figure img {
	max-width: 65%;
}

/*
 * Miscellaneous
 */

figure {
	margin: 0;
	padding: 0;
	text-align: center;
}

figure img {
	max-width: 100%;
}

/*
 * Media Queries
 */

@media (max-width: 700px) {
	header.homepage p {
		font-size: 1rem;
	}
}

@media (max-width: 600px) {
	html {
		font-size: 16px;
	}

	header.homepage p {
		font-size: 1rem;
	}

	main[role="main"] section > div {
		display: block;
	}

	footer > div {
		display: block;
		text-align: center;
	}

	footer > div figure {
		padding: 0;
	}

	footer > div figure img {
		max-width: 100%;
		max-height: 8rem;
	}

	footer > div address {
		text-align: center;
	}
}

/* --- Height Based --- */
@media (max-height: 400px) {
	header.homepage p {
		font-size: 1rem;
	}
}
/* -------------------- */

@media (max-width: 520px) {
	nav#top-nav {
		display: block;
		text-align: center;
		background-color: #fafdf7;
		box-shadow: 0 0 1rem 0 rgba(34, 103, 118, 0.5);
	}
	nav#top-nav ul li a {
		color: #357a89;
	}
	nav#top-nav ul li a:hover {
		color: #fafdf7;
	}
	nav#top-nav ul:nth-of-type(1) li a {
		margin-bottom: -0.5rem;
	}
	nav#top-nav ul:nth-of-type(2) li a {
		margin-top: -0.5rem;
	}

	main[role="main"] section > div {
		padding: 1rem;
	}
}

@media (max-width: 400px) {
	nav#top-nav ul li a {
		font-size: 1rem;
		padding: 0.5rem;
	}
	nav#top-nav ul:nth-of-type(1) li a {
		margin-bottom: -0.25rem;
	}
	nav#top-nav ul:nth-of-type(2) li a {
		margin-top: -0.25rem;
	}

	nav.pagination {
		padding: 1rem;
		display: block;
	}

	nav.pagination > * {
		display: block;
	}

	nav.pagination .page-number {
		padding: 1rem;
	}

	main[role="main"] section > div article {
		padding: 0 1.5rem;
	}
}




